# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore build directory (if applicable)
build/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore coverage directory for testing
coverage/

# Ignore .DS_Store (for macOS)
.DS_Store

# Ignore temporary files
*.swp
*.swo
*.bak
*.tmp

# Ignore IDE files
.vscode/
.idea/
*.iml
